@media (prefers-reduced-motion: reduce) {
  .hide-video-on-reduce video {
    display: none;
  }
}

/* Hide video when reduce-motion class is toggled */
.reduce-motion .hide-video-on-reduce video {
  display: none;
}

/* Hide native video controls on iOS Safari */
.background-video::-webkit-media-controls {
  display: none !important;
  -webkit-appearance: none;
}

.background-video::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}

.background-video::-webkit-media-controls-panel {
  display: none !important;
  -webkit-appearance: none;
}
